<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="dashboard"
      [routerLinkActive]="'activebutton'"
      >Navbar</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="dashboard"
            [routerLinkActive]="'activebutton'"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="dashboard"
            [routerLinkActive]="'activebutton'"
            >Link</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="dashboard"
                [routerLinkActive]="'activebutton'"
                >Action</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="dashboard"
                [routerLinkActive]="'activebutton'"
                >Another action</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                routerLink="dashboard"
                [routerLinkActive]="'activebutton'"
                >Something else here</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-secondary" type="submit" (click)="logout()">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>
