
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

mat-sidenav {
  border-right: none;
  background: #fafbfc;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.adminSectionView {
  // padding-top: 1rem;
  height: 100%;
  mat-sidenav {
    width: 230px;
  }
}
.adminContent {
  width: 100%;
  position: absolute;
  min-height: 100%;
  // border-radius: 10px;
  margin-top: 0.2rem;
  padding: 2rem;
  background-color: #ffff !important;
}

.fullView {
  width: 100%;
  margin-left: 0px;
}

